<!--<app-header [titre]="'Quiz en cours...'"></app-header>-->
<game-header></game-header>

<div>
    <div *ngIf="!isFinished()" class="game-question">
        <div class="info">
            <h2 class="question">        
                Question : {{game.step + 1}}
            </h2>
            <h2 class="nom">
                Nom: {{game.quiz.name}}
            </h2>
        </div>
        <hr width="90%" size="3" color="black">
        <app-game-question  [question]="getCurrentQuestion()" (answer)="answerSelected($event)"></app-game-question> 
    </div>
    <div *ngIf="isFinished()">
        <div class="info">
            <h2 class="question">        
                Vous avez {{game.rightAnswer}} bonne reponse sur {{game.quiz.questions.length}} questions
            </h2>
        </div>
        <button class="button-card valider" (click)="deleteGame()" routerLink="/quiz-list">Valider</button>
    </div>
</div>

