<!--<app-header [titre]="'Quiz en cours...'"></app-header>-->
<game-header (delete)="deleteGame()"></game-header>

<div *ngIf="game!=null">
    <div *ngIf="!isFinished()" class="game-question">
        <div class="info">
            <h2 class="question">        
                Question : {{game.step + 1}}
            </h2>
            <h2 class="nom">
                Nom: {{game.quiz.name}}
            </h2>
        </div>
        <hr width="90%" size="3" color="black">
        <app-game-question  [question]="getCurrentQuestion()" (answer)="answerSelected($event)"></app-game-question> 
    </div>
    <div *ngIf="isFinished()">
        <app-game-result [game]="game" (delete)="deleteGame()"></app-game-result>
    </div>
</div>

