<app-header [titre]="'Paramètres'"></app-header>
<div class="options">
    Changer la taille des caractères<br>
    <input #slider type="range" min="50" max="100" [value]="getStylesSize()" step="1" class="slider" (input)="changeSize(slider.value)">
    <fieldset>
        <legend>Taille actuelle : {{styles.textSize}} </legend> 
        <div class="preview" [style.font-size.px]="styles.textSize">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
    </fieldset>
</div>
<div class="options">
    Assombrir le fond<br>
    <label class="switch">
        <input #check type="checkbox" class="checkbox" [checked]="getStylesColor()" (change)="changeColor(check.checked)">
        <span class="check round"></span>
    </label>
</div>
<button class="valid" (click)="save()"><span>Enregistrer</span></button>