@import '../../styles/card.scss';
@import '../../styles/quiz-box.scss';

.space{
  margin-top: 45px;
}

.options{
  margin: 45px;
  line-height: initial;
  white-space: initial;
}

.titles{
  font-size: var(--font);
}

.slider{
    appearance: none;
    height: 10px;
    width: 500px;
    border-radius: 10px;
    background: grey;
    outline: none;
    cursor: pointer;
}

.slider:focus{
  outline: 6px solid blue;
}

.slider::-webkit-slider-thumb{
  appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: $blue;
}

.slider::-moz-range-thumb{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: $blue;
}

fieldset{
  width: max-content;
  margin-top: 20px;
  border: 2px solid black;

    //background-color: rgb(209, 209, 209);
}

.preview{
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    width: 895px;
    margin: 1px;
}

// .preview:before{
//     content: " ";
//     position: absolute;
//     width: 895px;
//     background-image: linear-gradient(-90deg,#f2f2f2 0px,rgba(255,255,255,0) 10%);
// }

.switch{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.check{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

.check:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.checkbox:checked + .check {
  background-color: #0db523;
}
  
.checkbox:focus + .check {
  box-shadow: 0 0 1px $blue;
}
  
.checkbox:checked + .check:before {
  -webkit-transform: translateX(60px);
  -ms-transform: translateX(60px);
  transform: translateX(60px);
}
  
/* Rounded sliders */
.check.round {
  border-radius: 40px;
}
  
.check.round:before {
  border-radius: 50%;
}

.valid{
  width: 50%;
  margin: 45px 25%;
  padding: 25px;
  background-color: #0db523;
}