@import "../../../styles/variables.scss";

.game-header{
    display: flex;
    height: 100px;
}

.fermer, .son, .param{
    padding: 0;
    border: none;
    height: 100%;
    text-decoration: none;
    flex: 1;
    transition: background-color 0.2s ease-in-out; 
}

.fermer:hover, .fermer:focus, .son:hover, .son:focus, .param:hover, .param:focus{
    cursor: pointer;
    background-color: orange;
}

.fermer{
    border: none;
    background-color: red;
}

.son{
    border: none;
    background-color: $blue;
}

.param{
    border: none;
    background-color: #FFD966;
}
