<div class="question" [style.font-size.px]="styles.textSize">{{question.label}}</div>

<div class="reponse">
    <button class="button-card" id="up" (click)="answerSelected(question.answers[0])" >{{question.answers[0].value}}</button>
    <button class="button-card" id="left" (click)="answerSelected(question.answers[1])">{{question.answers[1].value}}</button>
    <img src="assets/keyboard_arrows.png" width="220px">
    <button class="button-card" id="right" (click)="answerSelected(question.answers[2])">{{question.answers[2].value}}</button>
    <button class="button-card" id="down" (click)="answerSelected(question.answers[3])">{{question.answers[3].value}}</button>
</div>
