@import '../../../styles/card.scss';


.question{
    //height: 120px;
    font-size: 50px;
    //font-weight: bolder;
    line-height: initial;
    margin: 0.5em auto;
    padding-left: 7%;
    white-space: initial;
}

.reponse{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    //justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.button-card:nth-child(1){
    margin: 0.5em 100%;
    align-self: flex-start;

}

.button-card:nth-child(4){
    margin: 0.5em 100%;
    align-self: flex-end;
}

.button-card{
    padding: 1em 1em;
    background-color: $blue;
    font-size: 40px;
    border: none;
    width: 600px;
    flex: none;
}