<div class="card">
    <div class="title">
        <h2>
        Name : {{quiz.name}}
        </h2>
    </div>
    
    <span>
        Theme : {{quiz.theme}}
    </span>
    <br>
    <span>
        Nombre de question : {{quiz.questions.length}}
    </span>
    <br>
    <span *ngIf="quiz.date">
        Date : {{quiz.date | date:'medium' }}
    </span>
    <br>
    <button class="button-card select" (click)="selectQuiz()">Selectionner</button>
    <br>
    <button class="button-card delete" (click)="deleteQuiz()">Supprimer</button>
    <h1>{{title}}</h1>
    <nav>
        <a routerLink="/edit-quiz/{{quiz.id}}">Edit</a>
    </nav>
</div>