<div class="top-title">
    <button class="bouton-retour" (click)="back()">
        <img class="back" src="assets/previous.png">
    </button>
    <div class="title">
        <img src="assets/logoo.png" width="120px">QuizTalin 
    </div>
</div>

<div class="menu">
    <button class="menu-bouton" (click)="list()">
        <div class="content">
            Liste de Quiz<br>
            <img style="margin-top: 100px;" src="assets/list.png">
        </div>
    </button>
    <button class="menu-bouton param" (click)="settings()">
        <div class="content">
            Paramètres<br>
            <img style="margin-top: 100px;" src="assets/settings.png">
        </div>
    </button>
    <button class="menu-bouton inactive">
        <div class="content">Historique</div>
    </button>
</div>
