@import "../../styles.scss";

.title{
    font-weight: bold;
    padding-top: 1em;
    font-size: 5em;
    text-align: center;
}

.menu{
    margin-top: 3em;
    display: flex;
    //justify-content: space-between;
    //align-items: stretch;
    //flex-direction: row;
}

.menu-bouton{
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    text-decoration: none;
    background-color: $blue;
    width: 33%;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 10px;
    height: 500px;
    transition: box-shadow 0.4s ease;
}

.box{
    border-radius: 1rem;
    height: 100%;
}

.menu-bouton:hover{
    box-shadow: 10px 5px rgb(43, 42, 42);
}

@media screen and (max-width: 1000px){
    .menu-bouton{
        font-size: 2.4rem;
        height: 100%;
    }
}

.param{
    background-color: #FFD966;
}

a{
    text-decoration: none;
    color: black;
}

.content{
    padding-bottom: 400px;
    height: 3rem;
    overflow: hidden;
}