@import "../../styles.scss";

.inactive{
    pointer-events: none;
    filter: brightness(50%);
}

.title{
    font-weight: bold;
    margin-left: 2.5em;
    font-size: 5em;
    text-align: center;
}

.top-title{
    margin-top: 2em;
    display: flex;
    padding-top: 3em;
}
.menu{
    margin-top: 3em;
    display: flex;
    //justify-content: space-between;
    //align-items: stretch;
    //flex-direction: row;
}

.menu-bouton{
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    text-decoration: none;
    background-color: $blue;
    width: 33%;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 10px;
    height: 500px;
    transition: box-shadow 0.4s ease;
}

.box{
    border-radius: 1rem;
    height: 100%;
}

.menu-bouton:hover{
    box-shadow: 10px 5px rgb(43, 42, 42);
}

@media screen and (max-width: 1000px){
    .menu-bouton{
        font-size: 2.4rem;
        height: 100%;
    }
}

.param{
    background-color: #FFD966;
}

a{
    text-decoration: none;
    color: black;
}

.content{
    padding-bottom: 400px;
    height: 3rem;
    overflow: hidden;
}

.bouton-retour{
    background-color: black;
    border: none;
    height: 100%;
    text-decoration: none;
    font-size: 2rem;
    color: $white;
    padding: 0 40px;
    margin-left: 20px;
    transition: background-color 0.2s ease-in-out; 
  }
  
  .bouton-retour:hover{
    //border: red 4px solid;
    background-color: orange;
    cursor: pointer;
  }
  
  .back{
    width: 100px;
  }