<div class="title">QuizTalin</div>

<div class="menu">
    <div class="menu-bouton">
        <a routerLink="/quiz-list">
            <div class="quiz-list box">
                <div class="content">Mosaïque</div>
            </div>
        </a>
    </div>
    <div class="menu-bouton">
        <a routerLink="/settings">
            <div class="param box">
                <div class="content">Paramètres</div>
            </div>
        </a>
    </div>
    <div class="menu-bouton">
        <div class="history box">
            <div class="content">Historique</div>
        </div>
    </div>
</div>
