@import '../../../styles/card.scss';
*, *::after, *::before {
	box-sizing: border-box;
  }

.quiz-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}