.main-content {
    //padding: 0 1em 0 1em;
    height: max-content;
}

body{
    background-color: var(--bg);
}

html{
    filter: brightness(var(--bri));
}

*:focus{
    outline: 6px solid blue;
}

*:not(input):not(select):focus{
    background-color: orange !important;
}