@import "./variables";


.span{
  line-height: initial;
  font-size: var(--font);
}

h2{
  padding: 5px;
  font-size: var(--font);
  line-height: 1em;
}

.br{
  height: 22px;
}

.card {
  width: max-content;
  background: $white;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.43), 0 0 6px rgba(0, 0, 0, 0.43);
  padding: 0 1em 2em 1em;
}

.button-card {
  background-color: $blue;
  border: none;
  color: black;
  font-weight: bold;
  font-size: var(--font);
  width: 80%;
  padding: 0.5em 1em;
  margin: 0.5em;
  transition: background-color 0.2s ease-in-out;
}

.button-card:hover{
  cursor: pointer;
  background-color: orange;
}
