@import "./variables";

.card {
  width: 300px;
  background: $white;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.43), 0 0 6px rgba(0, 0, 0, 0.43);
  padding: 0 1em 2em 1em;
}

.button-card {
  background-color: $white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  width: 200px;
  padding: 0.5em 1em;
  margin: 0.5em;
  transition: background-color 0.2s ease-in-out;
}

.button-card:hover{
  cursor: pointer;
  background-color: orange;
}
